main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #06879AFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar ul li a {
    color: white;
}

.profile_name {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.profile_name h1 {
    font-size: 20px;
    color: white;
}

.profile_name img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.messenger_section {
    gap: 20px;
    display: flex;
    padding: 20px;
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.messenger_section_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.messenger_section_title img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.messenger_section_title_left {
    display: flex;
    gap: 10px;
}

.messenger_section_listChat {
    display: flex;
    min-width: 300px;
    gap: 10px;
    flex-direction: column;
}

.messenger_section_listChat nav ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.messenger_section_listChat nav ul li a {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.messenger_section_listChat nav ul li a img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.messenger_section_listChat nav ul li a:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.messenger_section_listChat_title {
    display: flex;
    justify-content: center;
}

.messenger_section_listChat_title input {
    width: 220px;
}

.messenger_section_chat {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
}

.chat_container {
    display: flex;
    height: 100%;
    background-image: url("/images/background_messenger.png");
    border-radius: 10px;
}

.messenger_section_chatButtons {
    display: flex;
    gap: 10px   ;
    width: 100%;
}

.messenger_section_chatButtons input {
    width: 100%;
}

.friends_section {
    display: flex;
    width: 550px;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.friends_section_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.friends_section_title_filter {
    display: flex;
    justify-content: space-between;
}

.friends_section_title_filter_right {
    display: flex;
    gap: 5px;
}

.friends_section_title_filter_right input {
    width: 100%;
}

.friends_section_list ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.friends_section_list ul li img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.friends_section_list ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #06879AFF;
}

.friends_section_list_li_left {
    display: flex;
    gap: 10px;
    align-content: center;
}

.friends_section_list_li_info {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.friends_section_list_li_info a {
    color: #06879AFF;
}

.name {
    font-weight: 600;
}

.myProfile_section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;   
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.myProfile_section_title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.myProfile_section_title_right {
    display: flex;
    gap: 20px;
}

.currency {
    display: flex;
    align-items: center;
    gap: 5px;
}

.myProfile_section_title_info {
    display: flex;
    gap: 5px;
}

.myProfile_section_statistics_list {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.myProfile_section_statistics_list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.myProfile_section_statistics_list ul li .statistic_card {
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
}

.myProfile_section_statistics_list_row {
    display: flex;
    gap: 10px;
}

.statistic_card {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: center; 
}


.statistic_card img {
    height: 50px;
    width: 50px;
}

.statistic_card_info {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.statistic_card_info p {
    font-weight: 500;
}

.myProfile_section_statistics_list_buttons {
    display: flex;
    justify-content: center;
}

.myProfile_section_achievements {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.myProfile_section_achievements_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.myProfile_section_achievements_list ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.myProfile_section_achievements_list_card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.myProfile_section_achievements_list_card_info {
    display: flex;
    gap: 5px;
    flex-direction: column;
}